extends layout

block content
   
   
   table(border='1')
      tr
        td(width='200px')
          h1 Build
           sup x
        td(width='100px')
          .control-group
           .controls
             button.btn-link.btn(type='submit') 
              h4  What is Buildx?
        td(width='100px') 
          .control-group
           .controls
            .toplinks
             button.btn-link.btn(type='submit') 
              h4  Adopt an Idea
        td(width='130px')
          .control-group
           .controls
             button.btn-link.btn(type='submit') 
              h4  Submit a Project
        td(width='500px')    
           form.form-search
            .input-append
              input.span2.search-query(type='text')
              button.btn(type='submit') Search     
               i.icon-search 
      tr
        td row 2, cell 1
