extends layout

block content
   
   
   table(border='0')
      tr
        td(width='15%')
        td(width='200px')
          img(src = 'buildx.png')
        td(width='180px')
          .control-group
           .controls
             button.btn-link.btn(type='submit') 
              img(src = 'whatisbuildx.png')
        td(width='180px') 
          .control-group
           .controls
            .toplinks
             button.btn-link.btn(type='submit') 
              img(src = 'adoptanidea.png')
        td(width='180px')
          .control-group
           .controls
             button.btn-link.btn(type='submit') 
              img(src = 'submitaproject.png')
        td(width='500px')    
          .input-append
              input#appendedInputButton.span2(type='text')
              button.btn(type='button') 
               i.icon-search
               
   table.table.table-condensed 
      tr
        td 
          .control-group
           .controls
             button.btn-link.btn(type='submit') 
              img(src = 'filler.png')
      tr
        td
         .container-fluid
             .row-fluid
                 .span8
                     h3 Top Projects:
                 .span4
                     h3 New Ideas:
                     table.table.table-condensed
                        tr
                          td 
                           h5 Tim Ryan
                          td 
                           h5  A car remote-controlled by Node
                        tr
                          td 
                           h5 Paul Booth
                          td 
                           h5 Machine Shop Availabilitybots
                        tr
                          td
                            h5 Doyung Lee
                          td
                            h5 A cat that feeds and cleans itself.

