doctype 5
html
  head
    title= title
    link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css", rel="stylesheet")
    link(rel="stylesheet", href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(type='type/css', rel='stylesheet', href='/javascripts/widget/css/rcarousel.css')
    link(rel='shortcut icon', href='http://i.imgur.com/4P36tsk.png')
    script(src="//cdnjs.cloudflare.com/ajax/libs/dropbox.js/0.9.2/dropbox.min.js")
    script(src='http://code.jquery.com/jquery.js')
    script(src='http://code.jquery.com/jquery.min.js')
    script(src="http://code.jquery.com/jquery-1.9.1.js")
    script(src="http://code.jquery.com/ui/1.10.1/jquery-ui.js")   
    script(type='text/javascript', src='/javascripts/widget/lib/jquery-1.7.1.min.js')
    script(type='text/javascript', src='/javascripts/widget/lib/jquery.ui.core.min.js')    
    script(type='text/javascript', src='/javascripts/widget/lib/jquery.ui.widget.min.js')
    script(type='text/javascript', src='/javascripts/widget/lib/jquery.ui.rcarousel.min.js')
    script(src='/javascripts/script.js')
    script(type="text/javascript", src="https://www.dropbox.com/static/api/1/dropins.js", id="dropboxjs", data-app-key="1nyuxgzrte5w6hh")
    script(type='text/javascript')
      function testClick(clickID) {
        $.post('/upvote', {_id: clickID});
        $.get("/upvote",function(data){
          $('#listWrapper').remove();
          $('#top').append(data);  
        })
      }
      function upProject(clickID) {
        $.post('/upvoteP', {_id: clickID});
      }
      function otherClick(clickID){
        $.post('/adopt', {_id: clickID});
        $.get("/upvote",function(data){
          $('#listWrapper').remove();
          $('#top').append(data);  
        })
      }
      
    style
      #quotes, #quotes li { display: block; padding: 0; margin: 0; }
      #quotes li { margin: 15px 0 30px }
      #quotes li blockquote { margin-bottom: 5px; }
      #quotes li small { color: #bbb; font-size: 10px }
      #quotes li small:hover { color: black; }

   table(border='0')
      tr
        td(width='15%')
        td(width='200px')
          a(href='/')
            img(src = '/images/buildx.png')
        td(width='180px')
          .control-group
           .controls
             a(href='/info') 
              img(src = '/images/whatisbuildx.png')
        td(width='180px') 
          .control-group
           .controls
             a(href='/ideas')
              img(src = '/images/adoptanidea.png')
        td(width='180px')
          .control-group
           .controls
             a(href='/submit')
              img(src = '/images/submitaproject.png')
        td(width='180px')
          .control-group
           .controls
             a(href='/submit')
              img(src = '/images/browseprojects.png')      
        td(width='180px')
          .control-group
           .controls
             a(href='/submit')
              img(src = '/images/myprofile.png')      
        td(width='500px')    
          .input-append
              input#appendedInputButton.span2(type='text')
              button.btn(type='button') 
               i.icon-search
  body
    .container-fluid
      block content