doctype 5
html
  head
    title= title
    link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css", rel="stylesheet")
    link(rel="stylesheet", href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src='http://code.jquery.com/jquery.min.js')
    script(src="http://code.jquery.com/jquery-1.9.1.js")
    script(src="http://code.jquery.com/ui/1.10.1/jquery-ui.js")
    script(src='/javascripts/script.js')
    style
      #quotes, #quotes li { display: block; padding: 0; margin: 0; }
      #quotes li { margin: 15px 0 30px }
      #quotes li blockquote { margin-bottom: 5px; }
      #quotes li small { color: #bbb; font-size: 10px }
      #quotes li small:hover { color: black; }

   table(border='0')
      tr
        td(width='15%')
        td(width='200px')
          img(src = 'buildx.png')
        td(width='180px')
          .control-group
           .controls
             button.btn-link.btn(type='submit') 
              img(src = 'whatisbuildx.png')
        td(width='180px') 
          .control-group
           .controls
            .toplinks
             button.btn-link.btn(type='submit') 
              img(src = 'adoptanidea.png')
        td(width='180px')
          .control-group
           .controls
             button.btn-link.btn(type='submit') 
              img(src = 'submitaproject.png')
        td(width='500px')    
          .input-append
              input#appendedInputButton.span2(type='text')
              button.btn(type='button') 
               i.icon-search
  body
    .container-fluid
      block content