extends layout

block content
   
   table.table.table-condensed 
     tr
      td
       .span5 
          img(src='http://3.bp.blogspot.com/-Xuxh9ecvS10/UUfx4b-dJnI/AAAAAAAABF8/HPLTq-OdS0Q/s1600/eski-no.jpg')
       .span7 
          h2 #{project.title}
          br
          h4 #{project.description}
     tr
       td
         h3 Relevant Files:
