extends layout

block content
   
   table.table.table-condensed 
     tr
      td
       .span5 
          img(src='http://3.bp.blogspot.com/-Xuxh9ecvS10/UUfx4b-dJnI/AAAAAAAABF8/HPLTq-OdS0Q/s1600/eski-no.jpg')
       .span7 
          h2 God Save the Queen
          br
          h4 Please someone stop this madness. Why are the birds laughing at us I just want to go home. I worked with thighman, richardson and dickbirdtrio on this project though. It was for my POE class in spanish man. That's just your opinion man.
     tr
       td
         h3 Relevant Files:
