extends layout

block content
  table.table.table-condensed 
   tr
     td 
      h1 
       | What is Build
       sup x
       | ?
      br
      h4 
       | Build
       sup x
       |  is a website where you can find or give ideas you want to see become reality. Whether you're too busy but have a great idea, or you can't think of what to do for a project, Build
       sup x
       |  is the place for you.
