extends layout

block content
  table.table.table-condensed 
   tr
     td 
      h1(style= 'color:rgb(0,51,128)') 
       | What is Build
       sup x
       | ?
      h4 
       | Build
       sup x
       |  is a website where you can find or give ideas you want to see become reality. Whether you're too busy but have a great idea, or you can't think of what to do for a project, Build
       sup x
       |  is the place for you. You can also browse projects Oliners have done in the past and submit your own. It's like a database. For projects. Pretty cool, huh?
      br
      h3(style= 'color:rgb(0,51,128)') Adopt an Idea:
      h4 Check out all the ideas Oliners have submitted. If you find one you want to pursue, adopt it by clicking this button:
      img(src='images/adoptthisidea.png')
      br
      h3(style= 'color:rgb(0,51,128)') Submit a Project or an idea:
      h4 Do you have a cool project or a great idea? Submit them here for everyone to check out. You can update people on how your project is doing, or you can get people to adopt your ideas and turn them into projects!
      br
      h3(style= 'color:rgb(0,51,128)') Browse Projects:
      h4 Don't really have anything to do? Check out awesome projects Oliners have done. Or maybe get inspired to do some rad things yourself.
      br
      h3(style= 'color:rgb(0,51,128)') My Profile:
      h4 See all the projects you've submitted and the ideas you've adopted. It's like your very own, personal, informal portfolio (but better)!

